h1{text-align: center;}
footer{text-align: center;}
.container{
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: 0px 7px 29px 0 px rgba(100, 100, 111, 0.2);
    border-radius: 15px;
    }

    select{display: block;
    width: 100%;
border-radius: 4px;
padding: 10px;
font-size: 18px;}


body{background-color: #f9f7fe;
font-family: sans-serif;}

h1{text-align: center;
font-family: sans-serif;
font-size: 36px;
}

.city{display: flex;
justify-content: space-between;
margin: 40px 0;
border-bottom: 1px dashed gainsboro;
padding-bottom: 25px ;}

.time{font-size: 46px;

font-weight: bold;
}

.time small{font-size: 28px;
vertical-align: 6px;}

h2{margin: 0 0 5px;
font-size: 32px;}

.date{opacity: 0.5;}

.city:last-child{border: none;}